acammack-r7 <acammack-r7@github>     <Adam_Cammack@rapid7.com>
bcook-r7 <bcook-r7@github>           <bcook@rapid7.com>
bcook-r7 <bcook-r7@github>           <busterb@gmail.com>
bpatterson-r7 <bpatterson-r7@github> <Brian_Patterson@rapid7.com>
bturner-r7 <bturner-r7@github>       <brandon_turner@rapid7.com>
cdoughty-r7 <cdoughty-r7@github>     <chris_doughty@rapid7.com>
dheiland-r7 <dheiland-r7@github>     <dh@layereddefense.com>
dmaloney-r7 <dmaloney-r7@github>     <David_Maloney@rapid7.com>
dmaloney-r7 <dmaloney-r7@github>     <DMaloney@rapid7.com>
dmaloney-r7 <dmaloney-r7@github>     <DMaloney@rapid7.com>
dmohanty-r7 <dmohanty-r7@github>     <Dev_Mohanty@rapid7.com>
dmohanty-r7 <dmohanty-r7@github>     <Dev_Mohanty@rapid7.com>
dmohanty-r7 <dmohanty-r7@github>     <Dev_Mohanty@rapid7.com>
dmohanty-r7 <dmohanty-r7@github>     <Dev_Mohanty@rapid7.com>
ecarey-r7 <ecarey-r7@github>         <e@ipwnstuff.com>
farias-r7 <farias-r7@github>         <fernando_arias@rapid7.com>
gmikeska-r7 <gmikeska-r7@github>     <greg_mikeska@rapid7.com>
gmikeska-r7 <gmikeska-r7@github>     <greg_mikeska@rapid7.com>
jhart-r7 <jhart-r7@github>           <jon_hart@rapid7.com>
jlee-r7 <jlee-r7@github>             <egypt@metasploit.com> # aka egypt
jlee-r7 <jlee-r7@github>             <james_lee@rapid7.com>
kgray-r7 <kgray-r7@github>           <kyle_gray@rapid7.com>
lsanchez-r7 <lsanchez-r7@github>     <lance@aus-mac-1041.aus.rapid7.com>
lsanchez-r7 <lsanchez-r7@github>     <lance@AUS-MAC-1041.local>
lsanchez-r7 <lsanchez-r7@github>     <lance.sanchez+github@gmail.com>
lsanchez-r7 <lsanchez-r7@github>     <lance.sanchez@gmail.com>
lsanchez-r7 <lsanchez-r7@github>     <lance.sanchez@rapid7.com>
lsato-r7 <lsato-r7@github>           <lsato@rapid7.com>
pdeardorff-r7 <pdeardorff-r7@github> <paul_deardorff@rapid7.com>
pdeardorff-r7 <pdeardorff-r7@github> <Paul_Deardorff@rapid7.com>
sgonzalez-r7 <sgonzalez-r7@github>   <sonny_gonzalez@rapid7.com>
shuckins-r7 <shuckins-r7@github>     <samuel_huckins@rapid7.com>
todb-r7 <todb-r7@github>             <tod_beardsley@rapid7.com>
todb-r7 <todb-r7@github>             <todb@metasploit.com>
todb-r7 <todb-r7@github>             <todb@packetfu.com>
wchen-r7 <wchen-r7@github>           <msfsinn3r@gmail.com> # aka sinn3r
wchen-r7 <wchen-r7@github>           <wei_chen@rapid7.com>
wvu-r7 <wvu-r7@github>               <William_Vu@rapid7.com>
wvu-r7 <wvu-r7@github>               <William_Vu@rapid7.com>
wvu-r7 <wvu-r7@github>               <wvu@metasploit.com>
wvu-r7 <wvu-r7@github>               <wvu@nmt.edu>
wwebb-r7 <wwebb-r7@github>           <William_Webb@rapid7.com>

# Above this line are current Rapid7 employees. Below this paragraph are
# volunteers, former employees, and potential Rapid7 employees who, at
# one time or another, had some largeish number of commits landed on
# rapid7/metasploit-framework master branch.  This should be refreshed
# periodically. If you're on this list and would like to not be, just
# let todb@metasploit.com know.

bannedit <bannedit@github>             <bannedit0@gmail.com>
bcoles <bcoles@github>                 <bcoles@gmail.com>
bcoles <bcoles@github>                 <bcoles@gmail.com>
bokojan <bokojan@github>               <peter_arzamendi@rapid7.com>
brandonprry <brandonprry@github>       <bperry@bperry-rapid7.(none)>
brandonprry <brandonprry@github>       <bperry@brandons-mbp.attlocal.net>
brandonprry <brandonprry@github>       <bperry.volatile@gmail.com>
brandonprry <brandonprry@github>       <brandon.perry@zenimaxonline.com>
bwall <bwall@github>                   <bwall@openbwall.com>
bwall <bwall@github>                   <nightstrike9809@gmail.com>
ceballosm <ceballosm@github>           <mc@metasploit.com>
Chao-mu <Chao-Mu@github>               <chao@confusion.(none)>
Chao-mu <Chao-Mu@github>               <chao.mu@minorcrash.com>
ChrisJohnRiley <ChrisJohnRiley@github> <chris.riley@c22.cc>
ChrisJohnRiley <ChrisJohnRiley@github> <reg@c22.cc>
claudijd <claudijd@github>             <claudijd@yahoo.com>
claudijd <claudijd@github>             <jclaudius@trustwave.com>
corelanc0d3r <corelanc0d3r@github>     <peter.ve@corelan.be>
corelanc0d3r <corelanc0d3r@github>     <peter.ve@corelan.be>
crcatala <crcatala@github>             <ccatalan@rapid7.com>
darkoperator <darkoperator@github>     <carlos_perez@darkoperator.com>
efraintorres <efraintorres@github>     et <>
efraintorres <efraintorres@github>     <etlownoise@gmail.com>
espreto <espreto@github>               <robertoespreto@gmail.com>
fab <fab@???>                          fab <> # fab at revhosts.net (Fabrice MOURRON)
FireFart <FireFart@github>             <firefart@gmail.com>
FireFart <FireFart@github>             <FireFart@users.noreply.github.com>
g0tmi1k <g0tmi1k@github>               <g0tmi1k@users.noreply.github.com>
g0tmi1k <g0tmi1k@github>               <have.you.g0tmi1k@gmail.com>
h0ng10 <h0ng10@github>                 <hansmartin.muench@googlemail.com>
hdm <hdm@github>                       <hdm@digitaloffense.net>
hdm <hdm@github>                       <hd_moore@rapid7.com>
hdm <hdm@github>                       <x@hdm.io>
jabra <jabra@github>                   <jabra@spl0it.org>
jcran <jcran@github>                   <jcran@0x0e.org>
jcran <jcran@github>                   <jcran@pentestify.com>
jcran <jcran@github>                   <jcran@pwnieexpress.com>
jcran <jcran@github>                   <jcran@rapid7.com>
jduck <jduck@github>                   <github.jdrake@qoop.org>
jduck <jduck@github>                   <jdrake@qoop.org>
jgor <jgor@github>                     <jgor@indiecom.org>
joevennix <joevennix@github>           <joevennix@gmail.com>
joevennix <joevennix@github>           <Joe_Vennix@rapid7.com>
joevennix <joevennix@github>           <joev@metasploit.com>
juanvazquez <juanvazquez@github>       <juan.vazquez@metasploit.com>
juanvazquez <juanvazquez@github>       <juan_vazquez@rapid7.com>
kernelsmith <kernelsmith@github>       <kernelsmith@kernelsmith>
kernelsmith <kernelsmith@github>       <kernelsmith@kernelsmith.com>
kernelsmith <kernelsmith@github>       <kernelsmith@metasploit.com>
kost <kost@github>                     <kost@linux.hr>
kris <kris@???>                        kris <>
KronicDeth <KronicDeth@github>         <luke_imhoff@rapid7.com>
m-1-k-3 <m-1-k-3@github>               <devnull@s3cur1ty.de>
m-1-k-3 <m-1-k-3@github>               <github@s3cur1ty.de>
m-1-k-3 <m-1-k-3@github>               <m1k3@s3cur1ty.de>
m-1-k-3 <m-1-k-3@github>               <michael.messner@integralis.com>
Meatballs1 <Meatballs1@github>         <eat_meatballs@hotmail.co.uk>
Meatballs1 <Meatballs1@github>         <Meatballs1@users.noreply.github.com>
mubix <mubix@github>                   <jd.mubix@gmail.com>
nevdull77 <nevdull77@github>           <patrik@cqure.net>
nmonkee <nmonkee@github>               <dave@northern-monkee.co.uk>
nullbind <nullbind@github>             <scott.sutherland@nullbind.com>
nullbind <nullbind@github>             <scott.sutherland@nullbind.com>
ohdae <ohdae@github>                   <bindshell@live.com>
oj <oj@github>                         <oj@buffered.io>
r3dy <r3dy@github>                     <r3dy@Royces-MacBook-Pro.local>
r3dy <r3dy@github>                     <rdavis@Royces-MacBook-Pro-2.local>
r3dy <r3dy@github>                     <royce.e.davis@gmail.com>
rep <mschloesser-r7@github>            <mark_schloesser@rapid7.com>
rep <mschloesser-r7@github>            <mark_schloesser@rapid7.com>
Rick Flores <0xnanoquetz9l@gmail.com>  <0xnanoquetz9l@gmail.com>
rsmudge <rsmudge@github>               <rsmudge@gmail.com> # Aka `butane
schierlm <schierlm@github>             <schierlm@gmx.de> # Aka mihi
scriptjunkie <scriptjunkie@github>     <scriptjunkie@scriptjunkie.us>
scriptjunkie <scriptjunkie@github>     <scriptjunkie@scriptjunkie.us>
skape <skape@???>                      <mmiller@hick.org>
spoonm <spoonm@github>                 <spoonm@gmail.com>
stufus <stufus@github>                 <stuart.morgan@mwrinfosecurity.com>
stufus <stufus@github>                 <stufus@users.noreply.github.com>
swtornio <swtornio@github>             <swtornio@gmail.com>
Tasos Laskos <Tasos_Laskos@rapid7.com> <Tasos_Laskos@rapid7.com>
techpeace <techpeace@github>           <Matthew_Buck@rapid7.com>
techpeace <techpeace@github>           <techpeace@gmail.com>
timwr <timwr@github>                   <timrlw@gmail.com>
TomSellers <TomSellers@github>         <tom@fadedcode.net>
trevrosen <trevrosen@github>           <trevor@catapult-creative.com>
trevrosen <trevrosen@github>           <Trevor_Rosen@rapid7.com>
TrustedSec <davek@trustedsec.com>      <davek@trustedsec.com>
void-in <void-in@github>               <root@localhost.localdomain>
void-in <void-in@github>               <root@localhost.localdomain>
void-in <void-in@github>               <void-in@users.noreply.github.com>
void-in <void-in@github>               <waqas.bsquare@gmail.com>
void-in <void-in@github>               <waqas.bsquare@gmail.com>
zeroSteiner <zeroSteiner@github>       <zeroSteiner@gmail.com>


# Aliases for utility author names. Since they're fake, typos abound

Tab Assassin <tabassassin@metasploit.com> Tabassassin <tabassassin@metasploit.com>
Tab Assassin <tabassassin@metasploit.com> TabAssassin <tabasssassin@metasploit.com>
Tab Assassin <tabassassin@metasploit.com> Tabasssassin <tabassassin@metasploit.com>
Tab Assassin <tabassassin@metasploit.com> URI Assassin <tabassassin@metasploit.com>
